@media (max-width: 575.98px) {

    section {
        margin: 50px 0px;
        overflow: hidden;
    }
.header-top-menu-row-001{
    display: none;
}

.navbar-brand {
    width: 75% !important;
}
.header-container{
    padding: 50px  10px;
}
.header-container-left h1{
    font-size: 38px;
}
.nav-link {
    padding: 10px;
}

.navbar-toggler-icon {
    display: block;
    width: 1.5em;
    height: 4px;
    background: #1A7572;
    margin: 5px 0px;
}
.navbar-toggler {
    padding: 5px ;
    transition: unset;
}

.navbar-toggler:focus {
 
    outline: 0;
    box-shadow: unset;
}

.mega-menu {
width: unset; 
 transform: unset;
 overflow: hidden;

}

.service-item:hover .mega-menu {
    visibility: visible;
}
.header-card {
    padding: 10px unset;
   border-top-right-radius: unset !important;
   border-top-left-radius: unset !important;
    height: 30vh;
    margin: unset !important;
}
.hours-call-card {
    display: contents;
}

.main-heading {
    font-size: 25px;
}
.left-team-image-001 img {
  
    height: 265px;
    width: 230px !important;
}

.left-team-image-002 img {

    height: 200px;
    width: 200px !important;
    margin-top: 70px !important;
}
.over-lay-content {
    
    top: 0%;
    width: 200px;
}
.left-team-image-002 {
  
    right: -30%;
   
}
.work-container {
    grid-template-columns: unset;
}


.work-text-container {
  border-radius:unset  !important;
}


 .col img{
    border-radius: unset  !important;
}   

.hours-call-card .card{
    margin-top: 10px;
}

.why-text-container .card {
   
    min-width: 550px;
    padding: 10px 70px;
}
}